PORT=3000
NODE_ENV=development

CRICAPI_KEY=your_cricapi_key_here
CRICAPI_BASE=https://api.cricapi.com/v1

YOUTUBE_KEY=your_youtube_api_key_here
YOUTUBE_BASE=https://www.googleapis.com/youtube/v3

LIVE_SCORE_CACHE_TTL=60
MATCH_INFO_CACHE_TTL=300
YOUTUBE_CACHE_TTL=1800
PLAYER_CACHE_TTL=3600
